<f:section name="MenuRecursionStart">
  <f:if condition="{toc -> f:count()} > '0'"> 
    <ol class="ordered-list list-content toclist {f:if(condition:'{settings.Enable-Hierarchy} == 1',then:'hierarchy',else:'flat')}">
      <f:for each="{toc}" as="startLevelPage" iteration="i">
        <li class="toclevel-{startLevelPage.level}">
            
        <f:if condition="{settings.Typo3-Links} == 1">
            <f:then>
                <f:link.page section="c{startLevelPage.anchor}">
                    <span class="toctext" data-slug="{startLevelPage.urlhash}">{startLevelPage.content}</span>
                </f:link.page>                  
            </f:then>
            <f:else>
                <a href="#c{startLevelPage.anchor}" class="smooth-anchor">
                    <span class="toctext" data-slug="{startLevelPage.urlhash}">{startLevelPage.content}</span>
                </a> 
            </f:else>
        </f:if>
        
        <f:render section="MenuRecursionStep" arguments="{toc: '{startLevelPage.toc}'}"/>
        </li>
      </f:for>
    </ol>
  </f:if>
</f:section>


<f:section name="MenuRecursionStep">
    <f:if condition="{toc -> f:count()} > '0'">      
        <ol class="ordered-list">
            <f:for each="{toc}" as="currentSubPage">
                <li class="toclevel-{currentSubPage.level}">
                <f:if condition="{settings.Typo3-Links} == 1">
                    <f:then>
                        <f:link.page section="c{currentSubPage.anchor}">
                            <span class="toctext" data-slug="{currentSubPage.urlhash}">{currentSubPage.content}</span>
                        </f:link.page>                
                    </f:then>
                    <f:else>
                        <a href="#c{currentSubPage.anchor}" class="smooth-anchor">
                            <span class="toctext" data-slug="{currentSubPage.urlhash}">{currentSubPage.content}</span>
                        </a>
                    </f:else>
                </f:if>            
                <f:render section="MenuRecursionStep" arguments="{toc: '{currentSubPage.toc}'}" />
                </li>
            </f:for>
        </ol>
    </f:if>
</f:section>