.toc {
  background-color: #f9f9f9;
  width: auto;
  display: inline-block;
  padding: .5em;
  margin-bottom: 1em;
}

.toc ol {
  font-size: 95%;  
}

.toc ol,
.toc ol li {
  list-style: none;
  margin: 0; 
  padding: 0;
}

.toc ol a {
  text-decoration: none!important;
}

.toc ol ol {margin-left: 1.5em;}
.numbers ol ol {margin-left: 0;}

/*#toctitle {text-align: center;}*/

.numbers ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

.numbers ol > li {
  display: table;
  counter-increment: item;
}

.numbers ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;    
}

.numbers li ol > li {
  margin: 0;
}

.numbers li ol > li:before {
  content: counters(item, ".") " ";
}

#toctop {
  display:none;
  cursor:pointer;
  position:fixed; 
  right: 2em; 
  bottom: 1em;
  background: #3c3c3c;;
  color: #fff;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 20px;
  padding: 0em 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 500;
  opacity: 0.8;  
}
